In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [5]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
df["last"] == "Doe"

0    False
1     True
2     True
Name: last, dtype: bool

In [7]:
filter_name = (df["last"] == "Doe")

In [8]:
filter_name

0    False
1     True
2     True
Name: last, dtype: bool

In [9]:
df[filter_name]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [16]:
df[(df["last"] == "Doe") & (df["first"] == "John")]

  first last              email
2  John  Doe  JohnDoe@email.com

In [18]:
df[(df["last"] == "Schafer") | (df["first"] == "John")]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [15]:
df.loc[filter_name,"email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [20]:
df_filter = pd.read_csv('survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')

In [21]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [22]:
schema_df.columns

Index(['QuestionText'], dtype='object')

In [24]:
df_filter.columns.sort_values()

Index(['Age', 'Age1stCode', 'BetterLife', 'BlockchainIs', 'BlockchainOrg',
       'CareerSat', 'CodeRev', 'CodeRevHrs', 'CompFreq', 'CompTotal',
       'Containers', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'Dependents', 'DevEnviron', 'DevType', 'EdLevel', 'EduOther',
       'Employment', 'EntTeams', 'Ethnicity', 'Extraversion', 'FizzBuzz',
       'Gender', 'Hobbyist', 'ITperson', 'ImpSyn', 'JobFactors', 'JobSat',
       'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'LastHireDate', 'LastInt', 'MainBranch', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'MiscTechDesireNextYear', 'MiscTechWorkedWith', 'OffOn',
       'OpSys', 'OpenSource', 'OpenSourcer', 'OrgSize',
       'PlatformDesireNextYear', 'PlatformWorkedWith', 'PurchaseHow',
       'PurchaseWhat', 'ResumeUpdate', 'SOAccount', 'SOComm', 'SOFindAnswer',
       'SOHowMuchTime', 'SOJobs', 'SONewContent', 'SOPartFreq', 'SOTimeSaved',
       'SOVisit1st', 'SOVisitFreq', 'SOVisitTo', 'ScreenName', 'Sexuality',
       'SocialMedia', 'Student', 'SurveyEase', 'SurveyLength', 'Trans',
       'UndergradMajor', 'UnitTests', 'WebFrameDesireNextYear',
       'WebFrameWorkedWith', 'WelcomeChange', 'WorkChallenge', 'WorkLoc',
       'WorkPlan', 'WorkRemote', 'WorkWeekHrs', 'YearsCode', 'YearsCodePro'],
      dtype='object')

In [29]:
high_salary = (df_filter["ConvertedComp"] > 70000)

In [31]:
df_filter.loc[high_salary,["Country","LanguageWorkedWith","ConvertedComp"]]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [32]:
countries = ["United States", "India", "Germany"," Canada", " United Kingdom"]
filter_data = df_filter['Country'].isin(countries)

In [34]:
df_filter.loc[filter_data,"Country"]

Respondent
4        United States
8                India
10               India
13       United States
14             Germany
             ...
83862            India
84299            India
85642    United States
86012            India
88282    United States
Name: Country, Length: 35876, dtype: object

In [35]:
df_filter["LanguageWorkedWith"]

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [41]:
filter_data_01 = df_filter["LanguageWorkedWith"].str.contains('Python', na = False)

In [42]:
filter_data_01

Respondent
1         True
2         True
3        False
4         True
5         True
         ...
88377    False
88601    False
88802    False
88816    False
88863    False
Name: LanguageWorkedWith, Length: 88883, dtype: bool

In [39]:
df_filter.loc[filter_data_01, "LanguageWorkedWith"]

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object